<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-3">
						<div class="footer-text">
							<h4>Latest Updates</h4>
							<div class="latest-update-content">
								<img src="images/footer-latest-updates-img1.jpg" class="pull-left" />
								<p>Lorem ipsum is a dummy text full service indeustrial design.<br/><a href="#">Read More</a></p>
								
							</div>
							<div class="latest-update-content">
								<img src="images/footer-latest-updates-img2.jpg" class="pull-left" />
								<p>Integrated Design System is a full service indeustrial design.<br/><a href="#">Read More</a></p>
								
							</div>
							<div class="latest-update-content">
								<img src="images/footer-latest-updates-img3.jpg" class="pull-left" />
								<p>When an unknown printer took a gallery of type and specimen book. <br/><a href="#">Read More</a></p>
								
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="footer-text">
							<h4>Company</h4>
							<ul class="company-details">
								<li>
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									<a href="#" class="">About Us</a>
								</li>
								<li>
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									<a href="#">Privacy Policy</a>
								</li>
								<li>
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									<a href="#">Careers</a>
								</li>
								<li>
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									<a href="#">Blogs</a>
								</li>
								<li>
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									<a href="#">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="footer-text">
							<h4>Contact Us</h4>
							<div class="footer-address">
								<p>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									74 West Main Street, Oyster <br/>Bay, - Kolkata
								</p>
								<p>
									<i class="fa fa-phone" aria-hidden="true"></i>
									516-482-2181 ext 101
								</p>
								<p>
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<a href="#">info@bookmyevents.com</a>
								</P>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="footer-text">
							<h4>Connect with us</h4>
							<div class="connect-with">
								<p>
									We'll keep you informed and updated Sign up for our email newsletters
								</p>
								
									<div class="row"> 
									   <div class="col-lg-6 push-right-padding">
											<input type="text" class="form-control" placeholder="First Name"> 
										</div><!-- /.col-lg-6 --> 
										<div class="col-lg-6 push-left-padding"> 
											<input type="text" class="form-control" placeholder="Last Name">  
										</div><!-- /.col-lg-6 --> 
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Email Address">
												<span class="input-group-btn">
													<button class="btn btn-default" type="button">Submit</button>
												</span>
											</div>	
									   </div>
									</div><!-- /.row --> 
								 <div class="footer-social-icons">
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></li>
									</ul>
								 </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>
						Copyright &copy; 2017 -
						<a href="#">BookMyEvents</a> | 
						All Right Reserved
					</p>
				</div>
			</div>
		</div>
	</footer>