<div class="body bg-color">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0);">Home</a></li>
				<li><a href="javascript:void(0);">Kolkata</a></li>
				<li class="active"><a href="javascript:void(0);">Details</a></li>
			</ul>
			<div class="product-detail-title text-capitalize">
				<h3 class="">Event decoration services by tapan decorators </h3>
				<p>30/47, nayapatti road, durgapatti colony, dum, kolkata. 700055</p>
			</div>
			<div class="product-details-con">
				<div class="row">
					<div class="col-md-8">
						<div class="product-details">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">overview</a></li>								
								<li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
								<li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
								<li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
								<li role="presentation"><a href="#similar" aria-controls="similar" role="tab" data-toggle="tab">Similar</a></li>
							</ul>

							  <!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="overview">
									<div class="details-content">
										<div class="decoration-details-img">
												<a href="#"><img src="images/decoration-images/decoration-img1.jpg" alt=""/></a>
										</div>
										<div class="decoration-description">
											<h4 class="text-capitalize">
												<span>Features</span>
											</h4>
											<ul class="text-capitalize">
												<li><i class="fa arrow" aria-hidden="true"></i>Car decoration</li>
												<li><i class="fa arrow" aria-hidden="true"></i>flower decoration</li>
												<li><i class="fa arrow" aria-hidden="true"></i>lighting</li>
												<li><i class="fa arrow" aria-hidden="true"></i>mandap</li>
												<li><i class="fa arrow" aria-hidden="true"></i>stage decor</li>
											</ul>
											<h4 class="text-capitalize">
												<span>Event type</span>
											</h4>
											<ul class="text-capitalize">
												<li><i class="fa arrow" aria-hidden="true"></i>Anniversaries</li>
												<li><i class="fa arrow" aria-hidden="true"></i>Birthdays</li>
												<li><i class="fa arrow" aria-hidden="true"></i>Corpoate</li>
												<li><i class="fa arrow" aria-hidden="true"></i>Events</li>
												<li><i class="fa arrow" aria-hidden="true"></i>Engagement</li>
												<li><i class="fa arrow" aria-hidden="true"></i>Parties</li>
												<li><i class="fa arrow" aria-hidden="true"></i>Wedding ceremony</li>
											</ul>
											<h4 class="text-capitalize">
												<span>Description</span>
											</h4>
											<p>
												We have almost crossed 5 years as a branded name to establish ourselves firmly as one of the top-notch in this profession. While qulity is our trademark, excellence in services and experience that is invaluable is what holds us apart from the rest. Our staffs look forward to every wedding function with kenn enthusiasm, mking your experience once in-a-lifetime. Whether it is a private home party or big wdding event, we have the perfect blend of experience and creativity to make your occasion a special success. Every detail is considered carefully with your needs, taste and budget in mind.
											</p>
											<a href="#" class="btn contact-vendor-btn">Contact Vendor</a>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="gallery">.89..</div>
								<div role="tabpanel" class="tab-pane" id="reviews">.1224..</div>
								<div role="tabpanel" class="tab-pane" id="map">.455..</div>
								<div role="tabpanel" class="tab-pane" id="similar">.6767..</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="last-viewed">
							<h3>Last viewed decorators</h3>
							<ul class="decoration-last-viewed">
								<li>
									<a href="#">
										<img src="images/decoration-images/last-viewed-img1.jpg" alt="" />
										<h4>Floral decoration by pradhan decora...</h4>
										<p>Santoshpur, kolkota</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/decoration-images/last-viewed-img2.jpg" alt="" />
										<h4>Floral decoration by pradhan decora...</h4>
										<p>Santoshpur, kolkota</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/decoration-images/last-viewed-img3.jpg" alt="" />
										<h4>Floral decoration by pradhan decora...</h4>
										<p>Santoshpur, kolkota</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/decoration-images/last-viewed-img3.jpg" alt="" />
										<h4>Floral decoration by pradhan decora...</h4>
										<p>Santoshpur, kolkota</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="popular-interior-decorators">
				<h3>Popular interior decorators</h3>
				<div class="row">
					<ul>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img1.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img2.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img3.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img4.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		
	</div>