<div class="container">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0);">Home</a></li>
				<li><a href="javascript:void(0);">Kolkata</a></li>
				<li class="active"><a href="javascript:void(0);">Interior Decorators Results</a></li>
			</ul>
			<div class="found-results-title">
				<h3 class="text-capitalize">All interior decorators in kolkata <span class="found-results">(<span> Found 50 </span>)</span></h3>
			</div>
			<div class="filtering-con">
				<div class="row">
					<ul>
						<li class="col-sm-4 col-md-3">
							<span>Localities</span>
							<select>
								<option value="Select Locality">Select Locality</option>
								<option value="New Alipore">New Alipore</option>
								<option value="Maniktala">Maniktala</option>
								<option value="Barabazar Market">Barabazar Market</option>
								<option value="Santoshpur">Santoshpur</option>
								
							</select>
						</li>
						<li class="col-sm-4 col-md-3">
							<span>Price Range</span>
							<select>
								<option value="10,000 to 50,000">10,000 to 50,000</option>
								<option value="50,000 to 1,00,000">50,000 to 1,00,000</option>
								<option value="1,00,000 to 3,00,000">1,00,000 to 3,00,000</option>
								<option value="3,00,000 to 5,00,000">3,00,000 to 5,00,000</option>
								
							</select>
						</li>
						<li class="col-sm-4 col-md-6 bs-docs-example">
							<span>Decorater Type</span>
							<select>
								<option value="Wedding Decoration">Wedding Decoration</option>
								<option value="Birthday Decoration">Birthday Decoration</option>
								<option value="Engagement">Engagement Decoration</option>
								<option value="Party Decoration">party Decoration</option>
								<option value="Anniversaries Decoration">Anniversaries Decoration</option>
								
							</select>
							<a href="#" class="btn search-btn">Search</a>
						</li>
					</ul>
					
				</div>
			</div>
			<div class="decorators-result">
				<div class="row">
					<ul>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img1.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Event decoration services by tapan...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												New Alipore
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img2.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration services by jamuna florist</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Maniktala
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img3.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by pradhan decora...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Barabazar Market
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/decorators-result-images/img4.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img1.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Event decoration services by tapan...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												New Alipore
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img2.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration services by jamuna florist</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Maniktala
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img3.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by pradhan decora...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Barabazar Market
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img4.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/decorators-result-images/img1.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Event decoration services by tapan...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												New Alipore
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img2.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration services by jamuna florist</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Maniktala
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img3.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by pradhan decora...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Barabazar Market
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img4.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img1.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Event decoration services by tapan...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												New Alipore
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img2.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration services by jamuna florist</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Maniktala
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img3.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by pradhan decora...</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Barabazar Market
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#decoratordetails">
									<img src="images/decorators-result-images/img4.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="popular-interior-decorators">
				<h3>Popular interior decorators</h3>
				<div class="row">
					<ul>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img1.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img2.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img3.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
						<li class="col-sm-6 col-md-3">
							<div class="interior-decorators">
								<a href="#">
									<img src="images/popular-interior-decorators/img4.jpg" alt="" />
								</a>
									<div class="interior-decorators-title">
										<h5>Floral decoration by a1 city flowers</h5>
										<div class="clearfix">
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												Santoshpur
											</p>
											<div class="lead">
												<div class="stars starrr"></div>
											</div>
										</div>
										<span class="interior-price"><i class="fa fa-inr" aria-hidden="true"></i>As per the event</span>
									</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>