<div ng-include="'templates/partials/carousel.html'"></div>
<div class="body">	
		<!--popular venues div start -->
		<div class="popular-venues-con">
			<div class="container">
				<div class="title">
					<h2>Popular <span>venues</span></h2>
					<p>we provide awesome deals</p>
				</div>
				<div class="popular-venues-list">
					<div class="row">
						<ul>
							<li class="col-sm-6 col-md-4 ">
								<div class="gary-border">
									<div class="product-img">
										<a href="#"><img src="images/product-img-1.jpg" /></a>
										<span class="view-btn">
											<a href="venuesdetails">View Details</a>
										</span>
									</div>
									<div class="product-title clearfix">
										<div class="row">
											<div class="col-md-8">
												<h4>Juhu club Millenium</h4>
												<p>Gulmohar Road, JVPD Scheme, Juhu</p>
											</div>
											
											<div class="lead col-md-4">
												<div id="stars" class="starrr"></div>
												<!-- You gave a rating of <span id="count">0</span> star(s) -->
											</div>
										</div>
										 <div class="clearfix"></div> 
										<div class="highlights">
											<h5><span>Highlights</span></h5>
											<ul>
												<li><i class="fa fa-users" aria-hidden="true"></i>Veg & Non-Veg</li>
												<li><i class="fa fa-users" aria-hidden="true"></i>200-750 seating</li>
												<li>Air Condition</li>
												<li>Car Parking</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-md-4 ">
								<div class="gary-border">
									<div class="product-img">
										<a href="#"><img src="images/product-img-2.jpg" /></a>
										<span class="view-btn">
											<a href="venuesdetails">View Details</a>
										</span>
									</div>
									<div class="product-title clearfix">
										<div class="row">
											<div class="col-md-8">
												<h4>MQ Palace Function Hall</h4>
												<p>Rajendera Nagar, Hyderabad</p>
											</div>
											
											<div class="lead col-md-4">
												<div id="stars" class="starrr"></div>
												<!-- You gave a rating of <span id="count">0</span> star(s) -->
											</div>
										</div>
										  
										<div class="highlights">
											<h5><span>Highlights</span></h5>
											<ul>
												<li>Veg & Non-Veg</li>
												<li><i class="fa fa-users" aria-hidden="true"></i>200-750 seating</li>
												<li>Air Condition</li>
												<li>Car Parking</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-md-4 ">
								<div class="gary-border">
									<div class="product-img">
										<a href="#"><img src="images/product-img-3.jpg" /></a>
										<span class="view-btn">
											<a href="venuesdetails">View Details</a>
										</span>
									</div>
									<div class="product-title clearfix">
										<div class="row">
											<div class="col-md-8">
												<h4>Pai Comforts - Flamingo</h4>
												<p>JP Nager 2nd Phase, Bangalore</p>
											</div>
											
											<div class="lead col-md-4">
												<div id="stars" class="starrr"></div>
												<!-- You gave a rating of <span id="count">0</span> star(s) -->
											</div>
										</div>
										 
										<div class="highlights">
											<h5><span>Highlights</span></h5>
											<ul>
												<li>Veg & Non-Veg</li>
												<li><i class="fa fa-users" aria-hidden="true"></i>200-750 seating</li>
												<li>Air Condition</li>
												<li>Car Parking</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-md-4 ">
								<div class="gary-border">
									<div class="product-img">
										<a href="#"><img src="images/product-img-4.jpg" /></a>
										<span class="view-btn">
											<a href="venuesdetails">View Details</a>
										</span>
									</div>
									<div class="product-title clearfix">
										<div class="row">
											<div class="col-md-8">
												<h4>Siddiqua Function Hall</h4>
												<p>Murad Nagar, Hyderabad</p>
											</div>
											
											<div class="lead col-md-4">
												<div id="stars" class="starrr"></div>
												<!-- You gave a rating of <span id="count">0</span> star(s) -->
											</div>
										</div> 
										<div class="highlights">
											<h5><span>Highlights</span></h5>
											<ul>
												<li>Veg & Non-Veg</li>
												<li><i class="fa fa-users" aria-hidden="true"></i>200-750 seating</li>
												<li>Air Condition</li>
												<li>Car Parking</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-md-4 ">
								<div class="gary-border">
									<div class="product-img">
										<a href="#"><img src="images/product-img-5.jpg" /></a>
										<span class="view-btn">
											<a href="venuesdetails">View Details</a>
										</span>
									</div>
									<div class="product-title clearfix">
										<div class="row">
											<div class="col-md-8">
												<h4>The Corinthians Resort Club</h4>
												<p>Nayati County, Pune</p>
											</div>
											
											<div class="lead col-md-4">
												<div id="stars" class="starrr"></div>
												<!-- You gave a rating of <span id="count">0</span> star(s) -->
											</div>
										 </div> 
										<div class="highlights">
											<h5><span>Highlights</span></h5>
											<ul>
												<li>Veg & Non-Veg</li>
												<li><i class="fa fa-users" aria-hidden="true"></i>200-750 seating</li>
												<li>Air Condition</li>
												<li>Car Parking</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-md-4 ">
								<div class="gary-border">
									<div class="product-img">
										<a href="#"><img src="images/product-img-6.jpg" /></a>
										<span class="view-btn">
											<a href="venuesdetails">View Details</a>
										</span>
									</div>
									<div class="product-title clearfix">
										<div class="row">
											<div class="col-md-8">
												<h4>Ponvandu - JP Hotel</h4>
												<p>Port Road, Koyambedu</p>
											</div>
											
											<div class="lead col-md-4">
												<div id="stars" class="starrr"></div>
												<!-- You gave a rating of <span id="count">0</span> star(s) -->
											</div>
										</div> 
										<div class="highlights">
											<h5><span>Highlights</span></h5>
											<ul>
												<li>Veg & Non-Veg</li>
												<li><i class="fa fa-users" aria-hidden="true"></i>200-750 seating</li>
												<li>Air Condition</li>
												<li>Car Parking</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--popular venues div end -->
		<!--popular services start -->
		<div class="popular-services-con">
			<div class="bg-color">
				<div class="container">
					<div class="popular-services-title">
						<h2>Popular services</h2>
					</div>
					<div class="popular-services-list clearfix">
						<ul>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-1.jpg" />
										<div class="service-caption">
											<h4>Photographer</h4>
										</div>
									</div>
								</a>
								
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-2.jpg" />
										<div class="service-caption">
											<h4>Bridal Mackup</h4>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-3.jpg" />
										<div class="service-caption">
											<h4>Mehandi</h4>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-4.jpg" />
										<div class="service-caption">
											<h4>Dj</h4>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-5.jpg" />
										<div class="service-caption">
											<h4>Catering</h4>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-6.jpg" />
										<div class="service-caption">
											<h4>Decoration</h4>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-7.jpg" />
										<div class="service-caption">
											<h4>Serving team</h4>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="service-img">
										<img src="images/service-img-8.jpg" />
										<div class="service-caption">
											<h4>Anchor</h4>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--popular services end -->
		<!-- our clients start -->
		<div class="our-clients-con">
			<div class="container">
					<div class="title">
						<h2>our <span>clients</span></h2>
						<p>We have more than 1000 clients</p>
					</div>
				<div class="our-clients-list">
					 <div class="row">
						<div class="col-md-12">
							<div id="Carousel" class="carousel slide">
								<!-- <ol class="carousel-indicators">
									<li data-target="#Carousel" data-slide-to="0" class="active"></li>
									<li data-target="#Carousel" data-slide-to="1"></li>
									<li data-target="#Carousel" data-slide-to="2"></li>
								</ol> -->	
								<!-- Carousel items -->
								<div class="carousel-inner">
									
									<div class="item active">
										<div class="row">
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img1.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img2.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img3.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img4.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img5.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img6.png" alt="Image" style="max-width:100%;"></a></div>
										</div><!--.row-->
									</div><!--.item-->
									 
									 <div class="item">
										<div class="row">
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img1.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img2.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img3.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img4.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img5.png" alt="Image" style="max-width:100%;"></a></div>
										  <div class="col-sm-2 col-md-2"><a href="#" class="thumbnail"><img src="images/our-client-img6.png" alt="Image" style="max-width:100%;"></a></div>
										</div><!--.row-->
									</div><!--.item-->
									 
								 
								</div><!--.carousel-inner-->
								  <a data-slide="prev" href="#Carousel" class="left carousel-control"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
								  <a data-slide="next" href="#Carousel" class="right carousel-control"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div><!--.Carousel-->
							 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- our clients end -->
		<!-- how it work start -->
		<div class="how-it-work-con">
			<div class="container">
				<div class="how-it-work-title">
					<h2>How it <span>Work?</span></h2>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<img src="images/how-work-img.jpg" alt="" class="img-responsive" />
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="about-bookmyevent">
							<h2>About <span><span>BookMy</span>Event</span></h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus efficitur purus ac congue. Etiam in orci lorem. Vestibulum tincidunt neque eu aliquet bibendum. Donec sollicitudin commodo tincidunt. Vivamus molestie tincidunt lorem, in condimentum ex efficitur sit amet.<span> Donec vel diam</span> non odio placerat lobortis tincidunt nec ex. Donec ultricies tempus massa.
							</p>
							<p>
								Praesent at leo hendrerit, dignissim sem et, consequat sapien. Pellentesque convallis metus urna, a bibendum risus eleifend id. Ut vestibulum ac nunc consectetur semper. Fusce pretium sem a metus interdum, in vehicula mi mattis.
							</p>
							<p>
								Nullam vitae neque euismod, auctor felis vel, vulputate enim. Curabitur ullamcorper sagittis purus. Aliquam erat volutpat. <span>Donec aliquet,</span> magna sit amet dapibus volutpat, mi neque ultrices mauris, nec commodo massa nibh vel dui. Sed ullamcorper sapien eget eros laoreet, quis pretium libero condimentum. Etiam aliquet venenatis orci quis pharetra. Donec dignissim ullamcorper sapien, ac efficitur mi. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- how it work end -->
		
	</div>