<div class="body bg-color">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="javascript:void(0);">Home</a></li>
				<li><a href="javascript:void(0);">Bangalore</a></li>
				<li class="active"><a href="javascript:void(0);">Details</a></li>
			</ul>
			<div class="product-detail-title text-capitalize">
				<h3 class="">The grend ballroom marriott whitefield bangalore </h3>
				<p>No. 5, rajaram mohan roy road, bengaluru</p>
			</div>
			<div class="product-details-con">
				<div class="row">
					<div class="col-md-8">
						<div class="product-details">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">overview</a></li>
								<li role="presentation"><a href="#facilities" aria-controls="facilities" role="tab" data-toggle="tab">Facilities</a></li>
								<li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
								<li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
								<li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
								<li role="presentation"><a href="#similar" aria-controls="similar" role="tab" data-toggle="tab">Similar</a></li>
							</ul>

							  <!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="overview">
									<div class="details-content">
										<div class="row">
											<div class="col-sm-7 col-md-7 product-details-img">
												<a href="#"><img src="images/product-details-img/img1.jpg" /></a>
											</div>
											<div class="col-sm-5 col-md-5">
												<div class="check-available bg-color">
													<h3>Check Availability</h3>
													<div class="container-fluid">
														<form class="form-horizontal">
													  <div class="form-group">
														<div class="col-sm-12">
														  <input type="text" class="form-control" id="datepicker" placeholder="Select Date">
														  <span class="calendar"><i class="fa fa-calendar"  aria-hidden="true"></i></span>
														</div>
													  </div>
													  <div class="form-group">
														<div class="col-sm-12">
														  <input type="text" class="form-control" id="" placeholder="Select Time">
														</div>
													  </div>
													  <div class="form-group">
														<div class="col-sm-12">
														  <input type="text" class="form-control" id="" placeholder="Appx. Persons">
														  <span class="persons-clr">50-800 persons</span>
														</div>
													  </div>
													  <div class="form-group">
														<div class="col-sm-12">
														  <button type="submit" class="btn btn-default">Check</button>
														</div>
													  </div>
													</form>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<ul class="facility-list">
												<li class="col-sm-4 col-md-4"><span class="speakers"></span>Speakers</li>
												<li class="col-sm-4 col-md-4"><span class="non-veg"></span>Non Veg</li>
												<li class="col-sm-4 col-md-4"><span class="air-conditioning"></span>Air Conditioning</li>
												<li class="col-sm-4 col-md-4"><span class="wifi"></span>Wi-Fi</li>
												<li class="col-sm-4 col-md-4"><span class="total-feet"></span>Total Square Feet- 6359</li>
												<li class="col-sm-4 col-md-4"><span class="size"></span>Size (LxWxH)- 91x70x26</li>
												<li class="col-sm-4 col-md-4"><span class="car-parking"></span>Car Parking</li>
												<li class="col-sm-4 col-md-4"><span class="lift"></span>Lift</li>
												<li class="col-sm-4 col-md-4"><span class="wheelchair"></span>Wheelchair & Ramp</li>
												<li class="col-sm-4 col-md-4"><span class="rooms"></span>Rooms</li>
												<li class="col-sm-4 col-md-4"><span class="mic"></span>Mic</li>
												<li class="col-sm-4 col-md-4"><span class="projector"></span>Projector</li>
												<li class="col-sm-4 col-md-4"><span class="drinks"></span>Drinks</li>
											</ul>
										</div>
										<div class="product-description">
											<h4 class="text-capitalize">The grend ballroom marriott whitefield bangalore, whitefield,bangalore</h4>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel euismod purus, nec dictum arcu. Donec ac nibh eget nulla ultrices auctor. Aliquam laoreet ligula eu libero dapibus, in rutrum neque fringilla. Sed et arcu eu mauris dignissim dapibus. Fusce ultrices, massa pellentesque tempor ultricies, magna dolor venenatis augue, et consequat nisl ligula at massa. Nullam quis lacus sit amet mauris viverra pellentesque non sit amet diam. Aenean malesuada arcu sem, vitae tristique metus rhoncus vel. Proin pellentesque, nibh vitae eleifend rhoncus, turpis metus dictum nibh, ac mollis velit mi pharetra lectus. Curabitur consectetur vehicula nisi, sit amet porta massa varius id. Sed a mauris id nisl aliquet volutpat. Etiam eget volutpat metus, quis commodo urna. 
											</p>
											<h5 class="text-capitalize">
												Marriott hotel bangalore whitefield banquet features:
											</h5>
											<ul>
												<li>Host your next business convention in Bangalore in one of our eleven elegant meeting rooms.</li>
												<li>Our stunning Grand Ballroom offers 6,357 square feet of space and can accommodate up to 500.</li>
												<li>Stay connected in Whitefield - each of our meeting rooms boasts high-speed internet access.</li>
												<li>Our conference room facilities feature full audiovisual services, including an LCD projector and TV.</li>
												<li>Take advantage of hotels our on-site business services, such as printing, copying, and faxing.</li>
												<li>Utilize our creative catering team to ensure your business guests are well-fed while in Whitefield.</li>
											</ul>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="facilities">.76..</div>
								<div role="tabpanel" class="tab-pane" id="gallery">.89..</div>
								<div role="tabpanel" class="tab-pane" id="reviews">.1224..</div>
								<div role="tabpanel" class="tab-pane" id="map">.455..</div>
								<div role="tabpanel" class="tab-pane" id="similar">.6767..</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="last-viewed">
							<h3>Last viewed venues</h3>
							<ul>
								<li>
									<a href="#">
										<img src="images/product-details-img/last-viewed-img1.jpg" />
										<h4>Fairfield marriot rajajinagar</h4>
										<p>Rajajinagar, Bengaluru</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/product-details-img/last-viewed-img2.jpg" />
										<h4>The oberoi bengaluru</h4>
										<p>MG road, bengaluru</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/product-details-img/last-viewed-img3.jpg" />
										<h4>Marigold banquet - GRT grand</h4>
										<p>T.Nager, chennai</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/product-details-img/last-viewed-img4.jpg" />
										<h4>The oberoi bengaluru</h4>
										<p>MG road, bengaluru</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="page-popular-venues">
				<h3>Popular venues</h3>
				<div class="row">
					<ul>
						<li class="col-sm-3 col-md-3">
							<a href="#">
								<img src="images/product-details-img/venue-img1.jpg" />
								<h5>Fairfield marriott rajajinagar</h5>
								<p>Rajajinagar, Bengaluru</p>
							</a>
							<span><i class="fa fa-inr" aria-hidden="true"></i>450 onwards</span>
						</li>
						<li class="col-sm-3 col-md-3">
							<a href="#">
								<img src="images/product-details-img/venue-img2.jpg" />
								<h5>Fairfield marriott rajajinagar</h5>
								<p>Rajajinagar, Bengaluru</p>
							</a>
							<span><i class="fa fa-inr" aria-hidden="true"></i>450 onwards</span>
						</li>
						<li class="col-sm-3 col-md-3">
							<a href="#">
								<img src="images/product-details-img/venue-img3.jpg" />
								<h5>Fairfield marriott rajajinagar</h5>
								<p>Rajajinagar, Bengaluru</p>
							</a>
							<span><i class="fa fa-inr" aria-hidden="true"></i>1250 onwards</span>
						</li>
						<li class="col-sm-3 col-md-3">
							<a href="#">
								<img src="images/product-details-img/venue-img4.jpg" />
								<h5>Fairfield marriott rajajinagar</h5>
								<p>Rajajinagar, Bengaluru</p>
							</a>
							<span><i class="fa fa-inr" aria-hidden="true"></i>2000 onwards</span>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		
	</div>